<!DOCTYPE html>
<html lang="es">
<head>

  <%- include('../partials/admin/head/headConfig') %>

    <link rel = "stylesheet" href = "assets/css/adminIndex.css">

    <!-- Custom -->
</head>

<body>

<!-- HEADER -->
  <header>
      <%- include('../partials/admin/head/header') %>
  </header>

  <!-- pruebas:  style = "background-color:blue" -->
  <main style = "clear:both">
      <div class = "row">
        <!-- Menu acordeon de navegacion -->
        <%- include('../partials/admin/menu/sideMenu') %>

        <div class = " col l10 s12" style = "z-index:-100">
          <div class = "row">
            <!-- Creacion de nuevos perfumes -->


                  <h5 class = "center">Index</h5>
                    <div class = "section">


                </div>

                <div class = "col l12 m12 s12">
                  <div class = "divider"></div>

                </div>

      </div>
  </div>
  </div>

  <!-- Modal para la edicion de las fotos de los productos -->
  <%- include('../partials/admin/modal/photoModal') %>

  <!-- Modal para la edicion de los productos -->
  <%- include('../partials/admin/modal/editModal') %>
  </main>

  <footer class = "col l12 m12 s12">
    <%- include('../partials/admin/foot/footer') %>
    </footer>

<!-- jQuery -->
    <%- include('../partials/admin/foot/footLinks') %>


    <script src="assets/js/utilities/scroll.js"></script>


    <script src="assets/js/admin/adminIndex.js"></script>
</body>
</html>
