<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head/later/client') %>

    <link rel = "stylesheet" href = "../assets/css/details.css">

    <!-- Custom -->
</head>

<body>

<!-- HEADER -->
  <header>
    <%- include('../partials/navbar/unregistered') %>
  </header>

  <!-- pruebas:  style = "background-color:blue" -->
    <div class = "col m12 s12 l12 animated fadeInUp">
            <a id "mainBanner"  href = "#"><img height="80px" width = "100%" src = "../assets/img/page/mainBanner.png"></a>
    </div>
    <div id = "mainContainer">

    <!-- Seccion Home -->
    <div class = "row">

    </div>
    <div class = "row">
      <div class = "col l9 m9 s12">
        <div class="main-carousel animated fadeInLeft">
          <% product.photos.forEach(function(photo){ %>
          <div class="carousel-cell">
            <img src="../<%=addressPic%><%=photo%>" alt="orange tree" />
          </div>
          <% }); %>
        </div>
        <br>
      </div>

      <div class = " center col l3 m3 s12 z-depth-4 animated fadeInRight">

          <div class = "titles">
            <h4><%= product.name %></h4>
          </div>
          <div class = "divider"></div>

          <div class="input-field offset-l3 col l6 m6 s8 offset-s2">
            <input oninput = "getPrice('<%= product._id %>')" name = "ammount" placeholder="Cantidad" type="Number" class="validate">
          </div>

          <div id = "addToBag" onclick = "addElementToCart('<%=product._id%>')" class = "btn-large">
            Añadir a la bolsa
            <i class="material-icons">add_shopping_cart</i>
          </div>
          <p class = "bookmark">Total: <p class = "mainUnit" id = "total">0</p></p>
          <p class = "bookmark" id = 'unit'>Precio Unidad: <span class = "bagViewUnit"> $<%= product.price %></span></p>
          <p class = "bookmark"id = 'whole'>Precio Mayor: <span class = "bagViewUnit">$<%= product.wholesale %></span>
            <sub>(Minimo <span class = "bagViewUnit"><%= product.minForDiscount %></span> Und)</sub>
          </p>
          <p>Descripcion:  </p>
          <p><%= product.description %></p>

      </div>
    </div>
    <!-- Distribucion de la Perfumeria -->

</div>

<%- include('../partials/logModal') %>

<!-- Footer -->
  <footer class = "col l12 m12 s12">
      <%- include('../partials/footer/unregistered') %>
    </footer>

<!-- jQuery -->
<%- include('../partials/foot/later/footLinks') %>



    <script src="../assets/js/home/details/details.js"></script>

</body>
</html>
