
<!DOCTYPE html>
<html>
  <head>

<%- include('../partials/head/later/client') %>

      <link rel="stylesheet" type="text/css" href="../assets/css/home/details/details.css">

  </head>
  <body>

    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../partials/navbar/navbar') %>
          <div class="col l12">
              <div id="carouselContainer" class="col l6 offset-l1">

                <div class="main-carousel">
                  <% product.photos.forEach(function(photo){ %>
                  <div class="carousel-cell">
                    <img src="../<%=addressPic%><%=photo%>" height="100%" alt="orange tree" />
                  </div>
                  <% }); %>
                  <div class="carousel-cell">
                    <img src="../assets/img/page/test_product.jpg" alt="orange tree" />
                  </div>
                  <div class="carousel-cell">
                    <img src="../assets/img/page/test_product.jpg" alt="orange tree" />
                  </div>

                    <div class="carousel-cell">
                    <img src="../assets/img/page/test_product.jpg" alt="orange tree" />
                  </div>
                  <div class="carousel-cell">
                    <img src="../assets/img/page/test_product.jpg" alt="orange tree" />
                  </div>
                  <div class="carousel-cell">
                    <img src="../assets/img/page/test_product.jpg" alt="orange tree" />
                  </div>

                </div>
              </div>
              <div id="infoProduct" class=" col l4 offset-l1 z-depth-1">
                    <div class="title center">
                      <%= product.name %>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                      <div class="valign-wrapper mainNumberCont">
                        <div class="center col l12">
                          <div class="mainNumber col l4 offset-l3 z-depth-1 center" >
                                <input oninput = "getPrice('<%= product._id %>')" name = "ammount" min="1" max="9999" m placeholder="#" value=1 id="first_name" type="number">
                          </div>
                          <div class="col l2">
                              <div class="circle">
                                <i class="fa fa-arrow-up" aria-hidden="true"></i>
                              </div>
                              <div class="circle center">
                                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                              </div>
                          </div>
                        </div>

                      </div>
                    </div>

                      <div class="row">
                        <div id="mainInfoCont" class="left col l12 prodInfo z-depth-4">

                            <div class="col l3 title">
                                Referencia
                            </div>
                            <div class="col l3 value">
                                XFGHJJLOT
                            </div>
                            <div class="col l3 title">
                                Color
                            </div>
                            <div class="col l3 value">
                                Azul
                            </div>


                            <div class="col l3 title">
                                Tipo
                            </div>
                            <div class="col l3 value">
                                Splash
                            </div>
                            <div class="col l3 title">
                                unidades
                            </div>
                            <div class="col l3 value">
                                2
                            </div>


                            <div class="col l3 title">
                                Genero
                            </div>
                            <div class="col l3 value">
                                Hombre
                            </div>
                            <div class="col l3 title">
                                Fragancia
                            </div>
                            <div class="col l3 value">
                                Primavera
                            </div>




                        </div>
                      </div>


                    <div class="col l12" style = "padding:0px;">
                        <div class="row">
                          <div class="left col l8 prodInfo z-depth-4">
                            <div class="center">
                              <div class="col l12">
                                  <div>
                                    <span>Precio Mayor </span>
                                    <span class = "sign">$</span><span class = "number"><%= product.priceWholesale %></span> c/u
                                  </div>
                              </div>
                                <div class=" col l12">
                                      <span>Minimo <span class = "number"><%= product.minForDiscount %></span> Unidades </span>
                                </div>
                            </div>
                          </div>
                        </div>
                          <div class="row">
                            <div class="right col l9 prodInfo z-depth-4">
                                <span>Precio Detal <span class = "sign">$</span><span class = "number"><%= product.price %></span> c/u</span>
                            </div>
                          </div>
                    </div>

                    <div class="row">
                      <div class="col l7 prodInfo total center">

                          <p>
                            <span>
                              Total
                            </span>
                            <span class = "sign">$</span>
                            <span id = "total" class = "number">
                              99.999.999
                            </span>
                          </p>
                      </div>
                    </div>

                    <div class="row">
                      <div id = "addToBag" onclick = "addElementToCart('<%=product._id%>')"  class="col l12 addCartButton center z-depth-4 hvr-pulse-shrink">

                          <p>
                            Agregar al carrito <i class="fa fa-cart-plus" aria-hidden="true"></i>
                          </p>
                      </div>
                    </div>



                    <div class="col l10 offset-l1 z-depth-4 description">
                        <p>
                            <%= product.description %>
                        </p>
                        <br>
                    </div>

              </div>
          </div>

      </div>
    </div>

<!-- Estilos del modal, sacar de aqui -->


            <%- include('../partials/footer/footer') %>


            <%- include('../partials/foot/later/footLinks') %>
          <!--
        <script type="text/javascript" src = "details.js"></script>
-->
        <script src="../assets/js/home/details/details.js"></script>

  </body>
</html>
