
<!DOCTYPE html>
<html>
  <head>
      <%- include('../../partials/head/later/client') %>
      <link rel = "stylesheet" href = "../assets/css/home/products/products.css">
  </head>
  <body>

    <div  class="row">
      <div id="mainCont" class="col l12 m12 s12">

          <%- include('../test/navbar') %>
          <div class="row">
            <!-- codigo de la barra latetral, deparar luego -->
              <%- include('../test/sideSearchMenu') %>
            <div  class="col l8 m9" style='margin-left:15px'>

                <div id="productContainer" class="grid col l12">
                  <div class="grid-item z-depth-3 hvr-rotate">
                    <a href="#">
                      <img src="../assets/img/products/test_product.jpg-1499868502189" width="100%" height="70%" alt ="La Imagen no pudo cargarse :(">
                      <div class="productInfo">
                          <div class="col l12 title center">
                              Victoria Secret seduction
                          </div>
                          <div class="col l6 center z-depth-1 wholesaleInfo">
                                <div class="subtitle">
                                    Mayor
                                </div>
                                <div class="number">
                                    <span class = "numberSign">$</span>240.000
                                </div>
                          </div>
                          <div class="col l6 center z-depth-1 detailInfo">
                            <div class="subtitle">
                                  Detal
                            </div>
                            <div class="number">
                                <span class = "numberSign">$</span>260.000
                            </div>
                          </div>
                          <div class="col l12 center shoppingButton">
                            <span>Comprar   <i class="fa fa-cart-plus" aria-hidden="true"></i> </span>
                          </div>
                      </div>

                    </a>
                  </div>

                  <div class="grid-item grid-item--placeHolder">

                  </div>
                  <div class="grid-item hvr-rotate">
                    <a href="#">
                      <img src="../assets/img/products/test_product.jpg-1499868502189" width="100%" height="70%" alt ="La Imagen no pudo cargarse :(">
                      <div class="productInfo">
                          <div class="col l12 title center">
                              Victoria Secret seduction
                          </div>
                          <div class="col l6 center z-depth-1 wholesaleInfo">
                                <div class="subtitle">
                                    Mayor
                                </div>
                                <div class="number">
                                    <span class = "numberSign">$</span>240.000
                                </div>
                          </div>
                          <div class="col l6 center z-depth-1 detailInfo">
                            <div class="subtitle">
                                  Detal
                            </div>
                            <div class="number">
                                <span class = "numberSign">$</span>260.000
                            </div>
                          </div>
                          <div class="col l12 center shoppingButton">
                            <span>Comprar   <i class="fa fa-cart-plus" aria-hidden="true"></i> </span>
                          </div>
                      </div>

                    </a>
                  </div>
                  <div class="grid-item hvr-rotate">
                    <a href="#">
                      <img src="../assets/img/products/test_product.jpg-1499868502189" width="100%" height="70%" alt ="La Imagen no pudo cargarse :(">
                      <div class="productInfo">
                          <div class="col l12 title center">
                              Victoria Secret seduction
                          </div>
                          <div class="col l6 center z-depth-1 wholesaleInfo">
                                <div class="subtitle">
                                    Mayor
                                </div>
                                <div class="number">
                                    <span class = "numberSign">$</span>240.000
                                </div>
                          </div>
                          <div class="col l6 center z-depth-1 detailInfo">
                            <div class="subtitle">
                                  Detal
                            </div>
                            <div class="number">
                                <span class = "numberSign">$</span>260.000
                            </div>
                          </div>
                          <div class="col l12 center shoppingButton">
                            <span>Comprar   <i class="fa fa-cart-plus" aria-hidden="true"></i> </span>
                          </div>
                      </div>

                    </a>
                  </div>


                  <div class="grid-item grid-item--entyreWidth">
                    <div class="spinner">
                      <div class="rect1"></div>
                      <div class="rect2"></div>
                      <div class="rect3"></div>
                      <div class="rect4"></div>
                      <div class="rect5"></div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
            <a href="#" id="backToTop" title="Back to top"><i class="material-icons">arrow_upward</i></a>
      </div>
    </div>
<div style = "display:none" id = "INIT" value = "<%=kind%>">
<!-- Estilos del modal, sacar de aqui -->
            <%- include('../test/footer') %>

<%- include('../../partials/foot/later/footLinks') %>
            <script src="../assets/js/utilities/scroll.js"></script>



            <script src="../assets/js/home/products/graphics.js"></script>
            <script src="../assets/js/home/products/products.js"></script>

</html>
